@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    background-color:rgb(54, 187, 1);
    width  : 100%;
    position: fixed;
    z-index: index 999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px ;



}
.logo{
    text-decoration: none;
    color:darkgreen;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}
.navigation a {
    color:rgb(46, 46, 46);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 250;
    padding-left: 40px;
   
   
    
}
.navigation a:hover{
    color: gold;
}
section{
    padding: 100px 200px;
}
.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(50-Beautiful-and-Minimalist-Presentation-Backgrounds-05.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main h2{
     color: rgb(0, 0, 0);
     font-size: 1.4em;
     font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(71, 71, 3);
    font-size: 1.4em;
    font-weight: 300;
}
.main h3 {
    color: burlywood;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-button {
    color:darkslategray;
    background-color: chocolate;
    text-decoration:none ;
    font-size: 1.2em;
    font-weight: 300;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom:14px ;
    transition: 0.7s ease;

}
.main-button:hover{
           background-color: aquamarine; 
           transform: scale(1.1,1.1);
}
.social-icons a {
    color: rgb(3, 70, 70);
    font-size: 1.7em;
    letter-spacing: 2px;
    padding-right: 5px;
}
.title{
    display: flex;
    justify-content: center;
    color: cadetblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: wrap;

}
.card{
    background-color: rgb(0, 143, 33) ;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(71 71 3 /90%) ;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
  
}
.card:hover {
 transform: scale(1.1,1.1);
 transition: 0.7s ease;
}
.icon{
    color: rgb(94, 94, 94);
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p{
    color: rgb(227, 227, 227);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects {
    background-color: black;
}
.projects .content {
  margin-top:30px ;

}
.project-card {
    background-color: blueviolet;
    border: 5px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1,1.1);
}
.project-card:hover .project-image{
    opacity: 0.8;
}
.project-image img{
    width:100%;
}
.project-info {
    padding: 1em ;
}
.project-category {
    font-size: 0.8em;
    color: antiquewhite;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color: aqua;
    
}
.more-details.hover {
    transition: 0.7s ease;
    transform: scale(1.1,1.1);
}
.contact .icon {
    font-size: 4.5em;
}
.contact .info h3{
    color: rgb(44, 44, 44)
}
.contact .info{
    font-size: 2.5em;
}

.footer {
    background-color: rgb(22, 145, 0);
    color: aliceblue;
    padding: 2em;
    display: flex;
    justify-content:space-between ;
}
.footer-title {
    font-size: 1.5em;
    font-weight: 100;
} 
.footer-title span {
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(255, 128, 0, 0.582);
} 
.footer .social-icons a{
        font-size: 1.8em;
        padding: 0 12px 0 0;
}
@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    .section{
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1.6em;
    }
.content {
    flex-direction: column;
    align-items: center;
}
}
@media  (max-width:641px) {
    body{
        font-size: 12px;
    }
    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
}
@media(max-width:300px) {
    body{
        font-size: 10px;
    }
}